
:root{
    --background1: #10101a;
    --rainbow: linear-gradient(to right, red, violet, cyan, blue);
    --primaryColor: rgb(206, 229, 249);
    --secondaryColor: rgba(5, 225, 225, 0.951);
    --thirdColor:rgb(144, 160, 174);
    --fourthColor:rgb(96, 103, 111);
    --headingSize1: 50px;
    --headingSize2: 40px;
    --headingSize3: 30px;
    --fontSize1: 20px;
}

* {
    box-sizing: border-box;
    background-color: var(--background1);
    scroll-behavior: smooth;
}
  
body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: var(--primaryColor);
}
  
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
  
p{
    margin: 0;
}


/* Nav Bar */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto 50px auto;
}

#logo{
    display: inline-block;
    font-family: cursive;
    font-size: var(--headingSize1);
    padding-left: 5px;
}

#navBar{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.navButtons li{
    display: inline-block;
    padding: 0px 60px;
    list-style: none;
    font-size: var(--fontSize1);
}

.navButtons a{
    text-decoration: none;
    color: var(--primaryColor);
}

.navButtons a:hover{
    cursor: pointer;
    color: var(--secondaryColor);
    text-decoration: underline;
}

#resumeNav{
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#resumeNav:hover{
    text-decoration: underline;
}


/* Hi Section */
#hiSection{
    margin: 50px 30vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "hiHeading1 icon"
    "hiHeading2 icon"
    "hiBasic icon";
}

#hiHeading1{
    grid-area: hiHeading1;
    justify-self: flex-start;
    align-self: flex-end;
    flex-wrap: wrap;
    font-size: 100px;
}

#hiHeading2{
    grid-area: hiHeading2;
    justify-self: flex-start;
    align-self: center;
    flex-wrap: wrap;
    font-size: 60px;
    color: var(--thirdColor);
}

#hiBasic{
    grid-area: hiBasic;
    justify-self: center;
    align-self: flex-start;
    flex-wrap: wrap;
    font-size: 35px;
    color: var(--fourthColor);
}

#icon{
    grid-area: icon;
    max-height: 70vh;
    justify-self: right;
    align-self: center;
    background-color: transparent;
    margin: -15vh;
}


/* About Me */
#aboutMe{
    border: solid;
    margin: 50px 30vh;
    display: grid;
    grid-template-columns: 1fr 10vh 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "aboutHeading aboutHeading aboutHeading"
    "knowMe . skillQual";
}

#aboutHeading{
    grid-area: aboutHeading;
    border: solid;
    align-self: flex-start;
    justify-self: flex-end;
    color: var(--primaryColor);
    font-size: var(--headingSize1);
}

#aboutMe h3{
    font-size: var(--headingSize2);
    color: var(--thirdColor);
}

#knowMe{
    grid-area: knowMe;
    border: solid;
}

#knowMe p{
    font-size: var(--fontSize1);
    color: var(--fourthColor);
}

#skillQual{
    grid-area: skillQual;
    border: solid;
}

#skillQual h4{
    font-size: var(--headingSize3);
    color: var(--thirdColor);
}

#skillQual li{
    font-size: var(--fontSize1);
    color: var(--fourthColor);
}


/* Projects */
#projects{
    border: solid;
    margin: 50px 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas:
    "projectHeading projectHeading"
    "project1 project1"
    "project2 project3";
}

#projectHeading{
    grid-area: projectHeading;
    border: solid;
    align-self: flex-start;
    justify-self: flex-start;
    color: var(--primaryColor);
    font-size: var(--headingSize1);
}

#project1{
    grid-area: project1;
    border: solid;
}

#project2{
    grid-area: project2;
    border: solid;
}

#project3{
    grid-area: project3;
    border: solid;
}

/* Contact */
#contact{
    border: solid;
    margin: 50px 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "contactHeading"
    "contactContent"
    "icons";
}

#contactHeading{
    grid-area: contactHeading;
    border:solid;
    align-self: flex-start;
    justify-self: flex-end ;
    color: var(--primaryColor);
    font-size: var(--headingSize1);
}

#contactContent{
    grid-area: contactContent;
    border: solid;
    font-size: var(--fontSize1);
    color: var(--fourthColor);
}

.smIcons{
    grid-area: icons;
    border: solid;
}

.smIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 25%;
}

.smIcons img{
    text-decoration: none;
    max-height: 25px;
}

/* Footer */
#footer{
    text-align: center;
}