
:root{
    --background1: #10101a;
    --rainbow: linear-gradient(to right, orange , yellow, cyan, blue, violet);
    --primaryColor: rgb(206, 229, 249);
    --secondaryColor: rgba(11, 102, 221, 0.951);
    --thirdColor:rgb(162, 180, 196);
    --fourthColor:rgb(124, 135, 147);
}

* {
    box-sizing: border-box;
    background-color: var(--background1);
}
  
body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: var(--primaryColor);
}
  
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
  
p{
    margin: 0;
}


/* Nav Bar */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto 50px auto;
}

#logo{
    display: inline-block;
    font-family: cursive;
    font-size: 50px;
    padding-left: 5px;
}

#navBar{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.navButtons li{
    display: inline-block;
    padding: 0px 60px;
    list-style: none;
    font-size: 20px;
}

.navButtons li:hover{
    cursor: pointer;
    color: var(--secondaryColor);
    text-decoration: underline;
}

#resumeNav{
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#resumeNav:hover{
    text-decoration: underline;
}


/* Hi Section */
#hiSection{
    margin: 50px 30vh;
    height: 80vh; 
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "hiHeading1 icon"
    "hiHeading2 icon"
    "hiBasic icon";
}

#hiHeading1{
    grid-area: hiHeading1;
    justify-self: flex-start;
    align-self: flex-end;
    flex-wrap: wrap;
    font-size: 100px;
}

#hiHeading2{
    grid-area: hiHeading2;
    justify-self: flex-start;
    align-self: center;
    flex-wrap: wrap;
    font-size: 60px;
    color: var(--thirdColor);
}

#hiBasic{
    grid-area: hiBasic;
    justify-self: center;
    align-self: flex-start;
    flex-wrap: wrap;
    font-size: 35px;
    color: var(--fourthColor);
}

#icon{
    grid-area: icon;
    max-height: 70vh;
    justify-self: right;
    align-self: center;
    background-color: transparent;
    margin: -15vh;
}


/* About Me */
#aboutMe{
    border: solid;
    margin: 50px 30vh;
    height: 80vh; 
    display: grid;
    grid-template-columns: 1fr 10vh 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "aboutHeading aboutHeading aboutHeading"
    "knowMe . skillQual";
}

#aboutHeading{
    grid-area: aboutHeading;
    border: solid;
}

#knowMe{
    grid-area: knowMe;
    border: solid;
}

#skillQual{
    grid-area: skillQual;
    border: solid;
}