
:root{
    --background1: #10101a;
    --rainbow: linear-gradient(to right, violet, cyan, blue);
    --primaryColor: rgb(206, 229, 249);
    --secondaryColor: rgba(5, 225, 225, 0.951);
    --thirdColor:rgb(144, 160, 174);
    --fourthColor:rgb(96, 103, 111);
    --headingSize1: 55px;
    --headingSize2: 40px;
    --headingSize3: 30px;
    --fontSize1: 20px;
}

* {
    box-sizing: border-box;
    background-color: var(--background1);
    scroll-behavior: smooth;
}
  
body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: var(--primaryColor);
}
  
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
  
p{
    margin: 0;
}


/* Nav Bar */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0px auto 50px auto;
}

#logo{
    display: inline-block;
    font-family: cursive;
    font-size: var(--headingSize1);
    padding-left: 5px;
}

#navBar{
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.navButtons li{
    display: inline-block;
    padding: 0px 60px;
    list-style: none;
    font-size: var(--fontSize1);
}

.navButtons a{
    text-decoration: none;
    color: var(--primaryColor);
}

.navButtons a:hover{
    cursor: pointer;
    color: var(--secondaryColor);
    text-decoration: underline;
}

#resumeNav a{
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Hi Section */
#hiSection{
    margin: 50px 30vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "hiHeading1 icon"
    "hiHeading2 icon"
    "hiBasic icon";
}

#hiHeading1{
    grid-area: hiHeading1;
    justify-self: flex-start;
    align-self: flex-end;
    flex-wrap: wrap;
    font-size: 100px;
}

#hiHeading1 span{
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hiHeading2{
    grid-area: hiHeading2;
    justify-self: flex-start;
    align-self: center;
    flex-wrap: wrap;
    font-size: 60px;
    color: var(--thirdColor);
}

#hiBasic{
    grid-area: hiBasic;
    justify-self: center;
    align-self: flex-start;
    flex-wrap: wrap;
    font-size: 35px;
    color: var(--fourthColor);
}

#icon{
    grid-area: icon;
    max-height: 65vh;
    justify-self: right;
    align-self: center;
    background-color: transparent;
    margin: -15vh;
}


/* About Me */
#aboutMe{
    margin: 50px 30vh;
    display: grid;
    grid-template-columns: 1fr 10vh 1fr;
    grid-template-rows: 100px 4fr;
    grid-template-areas:
    "aboutHeading aboutHeading aboutHeading"
    "knowMe . skillQual";
}

#aboutHeading{
    grid-area: aboutHeading;
    align-self: center;
    justify-self: flex-start;
    font-size: var(--headingSize1);
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#aboutMe h3{
    font-size: var(--headingSize2);
    color: var(--thirdColor);
}

#knowMe{
    grid-area: knowMe;
}

#knowMe p{
    font-size: var(--fontSize1);
    color: var(--fourthColor);
}

#skillQual{
    grid-area: skillQual;
}

#skillQual h4{
    font-size: var(--headingSize3);
    color: var(--thirdColor);
}

#skillQual li{
    font-size: var(--fontSize1);
    color: var(--fourthColor);
}


/* Projects */
#projects{
    height: 80vh;
    margin: 50px 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 4fr 2fr;
    grid-template-areas:
    "projectHeading projectHeading"
    "project1 project1"
    "project2 project3";
}

#projectHeading{
    grid-area: projectHeading;
    align-self: center;
    justify-self: flex-start;
    font-size: var(--headingSize1);
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#project1{
    grid-area: project1;
    background-image: url(../assets/images/Screenshot\ 2022-12-03\ at\ 20.56.55.png);
}

#project2{
    grid-area: project2;
    background-image: url(../assets/images/Screenshot\ 2022-12-03\ at\ 20.46.47.png);
}

#project3{
    grid-area: project3;
    background-image: url(../assets/images/Screenshot\ 2022-12-03\ at\ 20.46.57.png);
}

.projLink{
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    border-radius: 8px;
    border: solid;
}

.projLink a{
    display: flex;
    align-items: flex-end;
    color: var(--primaryColor);
    text-decoration: none;
    font-size: var(--headingSize3);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.projLink h3{
    background: none;
}

.projLink:hover a{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: none;
}

.projLink:hover h3{
    color: rgba(0,0,0,0);
}


/* Contact */
#contact{
    margin: 50px 30vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 75px;
    grid-template-areas:
    "contactHeading"
    "contactContent"
    "icons";
}

#contactHeading{
    grid-area: contactHeading;
    align-self: center;
    justify-self: center ;
    font-size: var(--headingSize1);
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#contactContent{
    grid-area: contactContent;
    text-align: center;
    font-size: var(--fontSize1);
    color: var(--fourthColor);
}

.smIcons{
    grid-area: icons;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 25%;
}

.smIcons img{
    text-decoration: none;
    max-height: 25px;
}


/* Footer */
#footer{
    text-align: center;
    margin: 25px;
}


/* Media Queries */

/* Screens under 600px */
@media only screen and (max-width: 600px){
    .navButtons li{
        padding: 0px 5px;
    }

    #hiSection{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "hiHeading1"
        "hiHeading2"
        "hiBasic"
        "icon";
    }

    #icon{
        max-height: 500px;
        justify-self: center;
        margin-bottom: 100px;
    }

    #aboutMe{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 3fr;
        grid-template-areas:
        "aboutHeading"
        "knowMe"
        "skillQual";
    }

    #projects{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 2fr 2fr;
        grid-template-areas:
        "projectHeading"
        "project1"
        "project2"
        "project3";
    }

    #contact{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 75px;
        grid-template-areas:
        "contactHeading"
        "contactContent"
        "icons";
    }
}

/* Screens between 601px and 992px */
@media only screen and (max-width: 992px){
    .navButtons li{
        padding: 0px 8px;
    }

    #hiSection{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "hiHeading1"
        "hiHeading2"
        "hiBasic"
        "icon";
    }

    #icon{
        max-height: 500px;
        justify-self: center;
        margin-bottom: 100px;
    }

    #aboutMe{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 3fr;
        grid-template-areas:
        "aboutHeading"
        "knowMe"
        "skillQual";
    }

    #projects{
        margin: 50px;        
    }

    #contact{
        margin: 50px;
    }
}